In [142]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import datetime
import argparse

from datetime import timedelta


plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (15, 5)
np.seterr(divide='ignore', invalid='ignore')

{'divide': 'warn', 'invalid': 'warn', 'over': 'warn', 'under': 'ignore'}

In [165]:
curr_csv = pd.read_csv('currencies.csv', sep=',', encoding='latin1')
price_csv = pd.read_csv('prices_ref.csv', sep=',', encoding='latin1', parse_dates=['date'], index_col='date')
ex_csv = pd.read_csv('exchanges_ref.csv', sep=',', encoding='latin1', parse_dates=[0], index_col=0)
weig_csv = pd.read_csv('weights_ref.csv', sep=',', encoding='latin1', parse_dates=[0], index_col=0)

pl = timedelta(1)

curr_np = curr_csv.to_numpy()
curr_np = np.nan_to_num(curr_np)


price_np = price_csv.to_numpy()
price_np = np.nan_to_num(price_np)

ex_np = ex_csv.to_numpy()
ex_np = np.nan_to_num(ex_np)

weig_np = weig_csv.to_numpy()
weig_np = np.nan_to_num(weig_np)

ex_np[:5]
# a = np.nan_to_num(a)

array([[0.        , 1.36335   , 1.        , 1.36335   , 1.        ],
       [1.10613368, 1.3615    , 1.        , 1.3615    , 1.        ],
       [1.09975918, 1.35772   , 1.        , 1.35772   , 1.        ],
       [1.09741781, 1.3604    , 1.        , 1.3604    , 1.        ],
       [1.10248119, 1.36663   , 1.        , 1.36663   , 1.        ]])

In [120]:

def check(a, b):
    return a.day == b.day and a.month == b.month and a.year == b.year

In [121]:
def get_index(arr, d):
    for i in range(len(arr)):
        if check(arr[i], d):
            return i
    return -1

In [153]:
price_index = price_csv.index.values
ex_index = ex_csv.index.values
weig_index = weig_csv.index.values
b = pd.to_datetime(price_index)
pr_date = np.array([])
for i in b:
    pr_date = np.append(pr_date, i)
    
b = pd.to_datetime(ex_index)
ex_date = np.array([])
for i in b:
    ex_date = np.append(ex_date, i)    

    
b = pd.to_datetime(weig_index)
we_date = np.array([])
for i in b:
    we_date = np.append(we_date, i)
    
# np.where(a == '2018')
d = datetime.date(2014, 8, 8)
get_index(pr_date, d)
price_np[206] # working (checked!!! //by me)

array([31.4 , 17.58, 57.06, 53.63, 35.07])

In [95]:
class ReckTest():
    def __init__(self):
        self.result = "None"
        
    """Methods for task"""
    def calculate_asset_performance(self, start_date, end_date):
        self.result = str(start_date + end_date)
    def  calculate_currency_performance(self, start_date, end_date):
        self.result = (str(start_date) + str(end_date))
    def calculate_total_performance(self, start_date, end_date):
        self.result = str(start_date * end_date)

In [87]:
curr = ReckTest()
curr.calculate_asset_performance(1, 5)
curr.result

'6'

In [154]:
st = datetime.date(2014, 11, 11)
en = datetime.date(2015, 11, 11)
if st > en:
    st, en = en, st
rt = []
crt = []
trt = []
while True:
    ind1 = get_index(pr_date, st)
    ind2 = get_index(we_date, st)
    ind3 = get_index(ex_date, st)
    if (ind1 == -1 or ind2 == -1):
        print("Error with search")
    if (ind1 != 0):
        rit = (price_np[ind1] - price_np[ind1 - 1]) / price_np[ind1 - 1]
    else:
        rit = price_np[ind1]

    if (ind3 != 0):
        cit = (ex_np[ind3] - ex_np[ind3 - 1]) / ex_np[ind3 - 1]
    else:
        cit = price_np[ind3]
    rtj = sum(weig_np[ind2] * rit)
    rt.append(rtj)
    jtr = sum(weig_np[ind2] * cit)
    
    crt.append(jtr)
    if (ind1 != 0 and ind3 != 0):
        trit = (price_np[ind1] * ex_np[ind3] - price_np[ind1 - 1] * ex_np[ind3 - 1]) / (price_np[ind1 - 1] * ex_np[ind3 - 1])
    trt.append(sum(weig_np[ind2] * trit))
    if st == en:
        break
    st += pl

In [157]:
rt

[-0.0030541545435514416,
 -0.007096094560242983,
 0.0014033066429316524,
 -0.002066725395122597,
 0.0,
 0.0,
 -0.00592776618438636,
 0.012072759700134305,
 0.002918995164153289,
 -0.004716651745498012,
 0.013829544777149727,
 0.0,
 0.0,
 0.011103702739621855,
 0.0015793663793982023,
 0.002383546589594259,
 0.002518869232494711,
 -0.0052082620330097746,
 0.0,
 0.0,
 0.0023962322091334483,
 -0.002969714954348928,
 0.0026438251469764404,
 -0.005924496560520104,
 0.008776753366278109,
 0.0,
 0.0,
 -0.0038499824164300567,
 -0.013221914945973405,
 -0.002522057157279337,
 0.006198108481170521,
 -0.02503750350208696,
 0.0,
 0.0,
 -0.011463789835935372,
 -0.005033640053762754,
 0.007288287974190253,
 0.02424745416734432,
 0.008012385415534395,
 0.0,
 0.0,
 0.008239543591448947,
 0.0043353291580053,
 0.0021699562106339172,
 0.0,
 0.0015653640104016904,
 0.0,
 0.0,
 -0.0037204211386948145,
 -0.00120092202748351,
 -0.0031563236465300716,
 0.0,
 0.0074705986101258354,
 0.0,
 0.0,
 -0.012514107772260667,
 -0.0034050310164449133,
 0.009793316303101093,
 0.015011428420518,
 -0.0011962303772991355,
 0.0,
 0.0,
 0.0035807465557860453,
 -0.005631880301397402,
 -0.011190890567172674,
 -0.020903499128540445,
 0.012640190620062544,
 0.0,
 0.0,
 0.013523572788976744,
 -0.0035851103616203247,
 -0.0036883258539753523,
 0.01023199235583985,
 0.013017938969295744,
 0.0,
 0.0,
 0.008167826757413912,
 -0.013212394924110403,
 -0.011023603613262552,
 0.01416826206064054,
 -0.005574346920934965,
 -0.9999999999995001,
 nan,
 inf,
 0.009231940373491152,
 0.015815505229515175,
 0.0028759520602772413,
 -0.0016192112961692646,
 0.0,
 0.0,
 -0.000899619712220684,
 0.008381372300397079,
 -0.003041314949821017,
 0.012334702719595731,
 0.00588871537636576,
 0.0,
 0.0,
 -0.001976496348268144,
 0.013397298218304612,
 0.0037272869014939813,
 0.0035486367587928926,
 0.009926786745632413,
 0.0,
 0.0,
 0.004369609999619934,
 0.0023804169856975056,
 -0.000293874805771583,
 -0.0015083921861248312,
 0.02759600590622298,
 0.0,
 0.0,
 0.01696097302247051,
 -0.011689976505077413,
 0.0009676641245749359,
 0.012032472712588648,
 -0.012460569096732306,
 0.0,
 0.0,
 -0.0018615287371314905,
 -0.01966442965832873,
 0.0056108356954974094,
 0.005563761961762198,
 0.00680658553745969,
 0.0,
 0.0,
 0.00509353867478762,
 -0.007034527349012627,
 0.011594509517319386,
 0.0016929963279822518,
 -0.0013587997958729348,
 0.0,
 0.0,
 -0.0006003787684351332,
 0.001934674740867797,
 -0.01106210136324374,
 -0.006694652017870293,
 0.004379276831190246,
 0.0,
 0.0,
 0.023860681675990276,
 -0.005006887870525461,
 -6.64106615637761e-05,
 0.009637531078728253,
 0.0,
 0.0,
 0.0,
 0.0009954907468658067,
 0.00799844387978713,
 0.0072242459473077,
 0.007895986649031477,
 0.004184451062229303,
 0.0,
 0.0,
 -0.0035383398156807406,
 -0.0011650818702984918,
 -0.006036992726806364,
 -0.00684892634127797,
 -0.019465241162889772,
 0.0,
 0.0,
 0.013478690880535785,
 0.0029075641340412075,
 0.005008743762521963,
 -0.0041856832009706845,
 0.0015509283075746524,
 0.0,
 0.0,
 0.0017605895246156711,
 0.021335255140443463,
 0.004385489198573801,
 -0.01203541394024389,
 0.004390330889508078,
 0.0,
 0.0,
 5.239673772575474e-06,
 -0.019205299749033695,
 -0.01139955720973376,
 0.00825036825051807,
 0.013846093199033745,
 0.0,
 0.0,
 0.0003495754593332731,
 -0.01005756533589057,
 0.010186222268592495,
 0.00593624454337606,
 0.005944048617688475,
 0.0,
 0.0,
 0.00895408943438453,
 0.0035659131964649125,
 -0.0013953500333760962,
 -0.007268921968886062,
 -0.0037225670518252255,
 0.0,
 0.0,
 -0.00017453791319334942,
 -0.01167270646372756,
 0.009323459974865342,
 0.002121078600365209,
 -0.0018170224005918407,
 0.0,
 0.0,
 -0.0016730124110063901,
 -0.0019212458852149996,
 0.009033093958433346,
 -0.010982539390707887,
 -0.011195259342850787,
 0.0,
 0.0,
 -0.007265554602808547,
 -0.002913780158632061,
 -0.019242117906610193,
 -0.0017417370310938898,
 -0.006789608107998256,
 0.0,
 0.0,
 -0.015187254649951456,
 0.011439869237469683,
 -0.017699956789052895,
 0.004422397043583946,
 -0.008185014450050196,
 0.0,
 0.0,
 0.02224235434205966,
 -0.004364426396668833,
 0.0014004382464540082,
 -0.003018588738630554,
 -0.0051761640482113356,
 0.0,
 0.0,
 -0.024347832007256077,
 -0.0029093163488119553,
 0.011589448102621323,
 -0.00260495719787906,
 0.0034221076130573755,
 0.0,
 0.0,
 -0.00810964688191847,
 0.008441522297271468,
 -0.009549811773654895,
 0.012919978422854833,
 0.006308795571980071,
 0.0,
 0.0,
 0.011081027089142489,
 0.005260694950803554,
 0.008366934460584324,
 0.0019166289931295114,
 0.007634752463309914,
 0.0,
 0.0,
 0.0015560923061301011,
 -0.009588807670964788,
 -0.008524153424841849,
 0.005573731640850576,
 -0.011037896198368142,
 0.0,
 0.0,
 -0.01393826737580834,
 -0.007267072613187358,
 0.004870644519473418,
 0.019622288325573153,
 -0.003561326816125458,
 0.0,
 0.0,
 0.021369427619222246,
 0.0081336307026391,
 -0.00039768182787230043,
 -0.011122238429642824,
 -0.02242724736671772,
 0.0,
 0.0,
 0.0014131355596570302,
 -0.010178673948784998,
 -0.00935025204904957,
 0.003154853483980355,
 0.0014640475249484833,
 0.0,
 0.0,
 -0.001304551765157106,
 -0.007446666458219221,
 -0.01993103865313784,
 -0.023384618167836737,
 -0.025255107017220297,
 0.0,
 0.0,
 -0.03058842946015993,
 0.011746144526723033,
 0.0034207720965256155,
 0.023337289806668354,
 -0.0103689073778602,
 0.0,
 0.0,
 -0.007324436781294254,
 -0.027565501363140243,
 0.010599490016690511,
 0.015958670984410075,
 -0.013056766075587336,
 0.0,
 0.0,
 0.002341086310803409,
 0.02845618953364765,
 -0.008146781413690135,
 -0.0032132033006107954,
 -0.003133443806839292,
 0.0,
 0.0,
 -0.0031182588767386587,
 0.01245605775691328,
 0.0034678911727280305,
 0.001124582007755016,
 -0.017294674865646554,
 0.0,
 0.0,
 0.009296287688465073,
 -0.016691167137477283,
 0.003523936015655148,
 -0.009608344585020294,
 0.011826583678806738,
 0.0,
 0.0,
 -0.022249234706297367,
 -0.01117293236064616,
 0.012040474399686472,
 -0.011516894978331587,
 0.015348461449399721,
 0.0,
 0.0,
 0.01593608137107956,
 0.0031254160878352315,
 0.0016288023350487521,
 0.0192753760876494,
 0.019731190733059616,
 0.0,
 0.0,
 -0.0033945943629767445,
 0.009370624356343445,
 -0.0017373879052429138,
 0.020962187059251153,
 0.0025849997008641234,
 0.0,
 0.0,
 0.003629134375579053,
 -0.0030134718126081424,
 -0.004931319520514302,
 0.026885035729338445,
 0.00023928974983117562,
 0.0,
 0.0,
 -0.0011841267668309392,
 -0.026250832686636756,
 0.015129956805652447,
 -0.0257920126885025,
 -0.0002626775825567585,
 -0.9999999999999001,
 nan,
 inf,
 0.012095131291954067,
 -0.005467679803395782,
 0.002458471749050911,
 0.019251821402522563,
 0.0,
 0.0,
 -0.009955115888763931,
 -0.0038269602836486566,
 -0.0005135455755823998]

In [148]:
cp = [1] # starting val
tp = [1] # starting val
p = [1] # starting val
n = len(rt)
for i in range(1, n + 1):
    pi = p[i - 1] * (1 + rt[i - 1])
    cpi = cp[i - 1] * (1 + crt[i - 1])
    tpi = tp[i - 1] * (1 + trt[i - 1])
    p.append(pi)
    cp.append(cpi)
    tp.append(tpi)

In [163]:
ex_csv.columns
ex_csv['EUR3'] = ex_csv['EUR1']
ex_csv[:5]

                CHF1     EUR1  USD1     EUR2  USD2     EUR3
2014-01-13       NaN  1.36335     1  1.36335     1  1.36335
2014-01-14  1.106134  1.36150     1  1.36150     1  1.36150
2014-01-15  1.099759  1.35772     1  1.35772     1  1.35772
2014-01-16  1.097418  1.36040     1  1.36040     1  1.36040
2014-01-17  1.102481  1.36663     1  1.36663     1  1.36663

In [196]:
ex_csv = pd.read_csv('exchanges.csv', sep=',', encoding='latin1', parse_dates=[0], index_col=0)

ex_csv = ex_csv[['CHF', 'EUR']]
a = [1] * 1513
a = pd.Series(a)
a.index = ex_csv.index
ex_csv = ex_csv.assign(USD1=pd.Series(a))
ex_csv['EUR1'] = ex_csv['EUR']
ex_csv['USD2'] = ex_csv['USD1']
ex_csv['EUR2'] = ex_csv['EUR']
ex_csv[:6]

                 CHF      EUR  USD1     EUR1  USD2     EUR2
2014-01-13       NaN  1.36335     1  1.36335     1  1.36335
2014-01-14  1.106134  1.36150     1  1.36150     1  1.36150
2014-01-15  1.099759  1.35772     1  1.35772     1  1.35772
2014-01-16  1.097418  1.36040     1  1.36040     1  1.36040
2014-01-17  1.102481  1.36663     1  1.36663     1  1.36663
2014-01-18  1.107972  1.36674     1  1.36674     1  1.36674